@import 'variables';
@import 'media_queries';
%align-center{
    display: flex;
    align-items: center;
}
.navbar {
    background-color: $primarycolor;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    position: relative;
    .navbar_logo{
        color: $tertiarycolor;
        text-decoration: none;
        font-size: 2rem;
        margin-left: 24px;
        @extend %align-center;
    }
    .navbar_bars{
        opacity: 0;
        @include tablet{
            color: $tertiarycolor;
            opacity: 1;
            position: absolute;
            top: 22px;
            right: 20px;
            font-size: 2rem;

        }
    } 
    .navbar_menu{
        @extend %align-center;
        list-style: none;
        text-align: center;
        margin-right: 24px;

        @include tablet{
            display: none;
        }

        .navbar_menu-links{
            color: $tertiarycolor;
            @extend %align-center;
            justify-content: center;
            text-decoration: none;
            padding: 0 1rem;

            &:hover{
                color: $buttoncolor;
                transition: all 0.3s ease;
            }
        }
        #button{
            padding: 12px 24px;
            border: none;
            outline: none;
            border-radius: 4px;
            background-color: $tertiarycolor;
            margin-left: 16px;
            color: $secondarycolor;
            
            &:hover{
                color: $buttoncolor;
                transition: all 0.3s ease;
            }   
        }

    }  
} 
