@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import "colors";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
}
.hero-page{
      height: 100vh;
      width: 100%;
      background-image: url(/images/img.svg);
      background-size: cover;
      background-position: bottom;
      display: flex;
      align-items: center;
      justify-content: center;
}
.hero-description{
    margin-right: 420px;
    h1{
        font-size: 50px;
    }
    p{
        font-size: 18px;
        margin-top: 10px;
    }
    
    }
.btn-explore {
    margin-top: 24px;

     a {
            text-decoration: none;
            margin-top: 20px;
            background: $tertiarycolor;
            padding: 18px 15px;
            color: white;
            border-radius: 0 0 0 6px;  
       }     
    }
.order-sec{
    height: 40vh;
    width: 100%;
    background: $tertiarycolor;
    color: white; 

    .working-sec{
        display: flex;     
        align-items: center;
        justify-content: space-evenly;
    }
}
.testimonial-sec{
    height: 70vh;
    width: 100%;
    background: $mainprimarycolor;

    .testimonial{
        display: flex;
        align-items: center;
        justify-content: space-between;
       
       

    }
    .testimonial .statement{  
        padding: 15px 30px;
        background: $backgroundcolor; 
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-left: 14px;
        border-radius: 0 0 0 16px;   

    }
    .arrow-sec{
        display: flex;
        justify-content: center;
        align-items: center;

        .arrow{
          margin-top: 25px;
          padding: 30px 120px;
          justify-content: space-around;
        }
    }
}



