@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import "colors";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
}
.hero-page{
      height: 100vh;
      width: 100%;
      background-image: url(/images/img.svg);
      background-size: cover;
      background-position: bottom;
      display: flex;
      align-items: center;
      justify-content: center;
}
.hero-description{
    margin-right: 420px;
    h1{
        font-size: 50px;
    }
    p{
        font-size: 18px;
        margin-top: 10px;
    }
    
    }
.btn-explore {
    margin-top: 24px;

     a {
            text-decoration: none;
            margin-top: 20px;
            background: $tertiarycolor;
            padding: 18px 15px;
            color: white;
            border-radius: 0 0 0 6px;  
       }     
    }
 .orderContainer{
        background-color: $tertiarycolor;

        .orderSection{
            width: 100%;
            margin: 0 auto;
            padding: 48px;
            .orderHeading{
                color: white;
                display: flex;
                align-items: baseline;
                padding-left: 6rem;

                img{
                    margin-left: 8px;
                }
            }

            .orderSteps{
                margin: 80px 0 0 0;

                .orderStepsContent{
                    display: flex;
                    justify-content: space-between;

                    .orderProcess{
                        text-align: center;
                        color: white;

                        img{
                            height: 40px;
                        }

                        p{
                            margin-top: 14px;
                            font-weight: bold;
                        }
                    }
                }

                .locationInfo{
                    text-align: center;
                    color: white;
                    width: 30%;
                    margin: 48px auto 0 auto;
                }
            }
        }
       
        
 }      
          
       

.testimonialContainer{
    background-color: $mainprimarycolor;

    .testimonialSection{
        width: 100%;
        margin: 0 auto;
        padding: 64px;
    }
    .testimonialHeading{
        display: flex;
        align-items: baseline;
        padding-left: 6rem;

        img{
            margin-left: 8px;
        }

    }
    .testimonialStatement{
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .statementByCustomers{
            background-color: $backgroundcolor;
            margin: 16px;
            padding: 16px 24px;
            width: 30%;
            border-radius: 0 0 0 25px;

        }

    }

    button{
        position: absolute;
        bottom: 10%;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    .arrow-left{
       margin-right: 1000px;

    }
    .arrow-right{
      margin-left: 1000px;
    }

  

}

.navigationContainer{
    background-color: $tertiarycolor;

    .navigationSection{
        padding: 20px;
        display: flex;
        justify-content: center;
       

        .nav-menus{
            margin: 48px;

            li{
                list-style-type: none;
                color: white;
                
            }
        } 
        
    }
}
   



