@import "variable";

 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    font-family: Arial, Helvetica, sans-serif;
 }

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $primarycolor;
}
.container{
    position: relative;
    background: $secondarycolor;
    width: 100%;
    max-width: 340px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    .form{
        padding: 30px;
       
    }
    
    .form .title{
       font-size: 27px;
       font-weight: bold;
       position: relative; 
    }
    .form .title::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 30px;
        background-color: $tertiarycolor;
        
    }
    .form .input-field{
        
        position: relative;
        height: 50px;
        width: 100%;
        margin-top: 30px;

    }
    .input-field input{
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 0 35px;
        border: none;
        
        

    }
    .input-field i{
       position: absolute; 
       top: 50%;
       transform: translateY(-50%);
       padding-left: 10px;
       color: #999;
       font-size: 18px;
    }
    .input-field i.icon{
        left: 0;
    }
    .input-field i.showHiddenPwd{
        right: 0;
   }

   .form .checkbox-text{
        margin-top: 20px;
        align-items: center;
        display: flex;
        justify-content: space-between;
   }
   .checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
   }
   .checkbox-content input{
    margin: 0 8px -2px 4px;

   }
   .form .text{
    color: #333;
    font-size: 14px;

   }
   .form a{
    text-decoration: none;
   }
   .form a:hover{
    text-decoration: underline;
   }
   .form .button{
     margin-top: 15px;
   }
   .form .button input{
    border: none;
    color: #ffff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: $tertiarycolor;
    
    
  }


} 

.signup{
   margin-top: 20px; 
   text-align: center;
   justify-content: space-evenly;
}
